.form-container {
  margin: 2rem auto 0;
  max-width: 80%;
  padding: 2em;
  background-color: #2a2e35;
  color: #b2becd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
}

.form-container.medium-size {
  max-width: 50%;
}

.form-container.large-size {
  max-width: 90%;
}

.form-container h2 {
  margin-top: 0;
}

form label {
  display: block;
  font-size: 1.2rem;
}

form :is(input[type="text"], input[type="password"], input[type="email"]) {
  width: 100%;
  padding: 0.4em 0.5em;
  margin: 5px 0 20px;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;
  font-family: inherit;
}

form span {
  display: none;
  background: #dc0530;
  color: #fff;
  width: fit-content;
  padding: 0.3em 0.5em;
  border-radius: 2px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

form span.show {
  display: block;
}

/* For home page */
form p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.radio-button-container label {
  font-size: 1rem;
  display: inline-block;
}

.radio-control {
  display: block;
  width: fit-content;
  border: 2px solid #fa8142;
  border-radius: 3px;
  padding: 0.3em;
  margin-bottom: 5px;
}

.radio-control input[type="datetime-local"] {
  display: none;
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 3px;
}

input#custom:checked ~ input[type="datetime-local"] {
  display: block;
}
